  .home-right{
 
    height: 100%;
  }

  .home-right-main{
    height: 100%;
  }

  .home-right-main-img{
      height: 40vh;
      margin-top: 10;    
      display: block;
  }

  .home-right-footer{
     width: 100%;
  }
